# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/.target
/.apt_generated
/conf/application.conf
.settings/**
.metadata