.x-panel-header-title-default {
	font-size: 1.2em;
}

.x-panel-header-title-default h4 {
	-webkit-margin-before: .25em;
	-webkit-margin-after:  .25em;
}

/**
* When using horizontal fieldset layout in criteria
screens, the last row of form controls ends up touching
the bottom border of the fieldset.
*/

.x-fieldset-body-default {
	padding-bottom: 10px;
}

.x-btn-default-toolbar-small {
	border: 1px solid #C3C3C3;
	background-image:-webkit-linear-gradient(top, #ffffff,#eeeeee);
}

.x-grid-item-alt {
/* 	background-color: #F7F7C5; */
	background: -webkit-linear-gradient(#FFFFFF,#F7F7C5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF,#F7F7C5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF,#F7F7C5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF,#F7F7C5); /* Standard syntax */
}

/**
* Hide the textinput portion of the ExtJS
* file upload control, so only the button shows

div.x-form-file-wrap .x-form-text-wrap {
	display: none;
}
**/